.navScroll-enter {
    background-color:  rgba(127, 127, 136, 0.9);
    padding-top: 0 !important;
}

.navScroll-enter-active {
    background-color: transparent;
    padding-top: 1.5% !important;
    transition: background-color 500ms, padding-top 500ms !important;
}

.navScroll-enter-done {
    background-color: transparent;
    padding-top: 1.5% !important;
}

.navScroll-exit {
    background-color: transparent;
    padding-top: 1.5% !important;
}

.navScroll-exit-active {
    background-color:  rgba(127, 127, 136, 0.9);
    transition: background-color 500ms, padding-top 500ms !important;
    padding-top: 0 !important;
}

.navScroll-exit-done {
    background-color: rgba(127, 127, 136, 0.9);
    padding-top: 0 !important;
}

.navbar {
    width: 100%;
    position: fixed;
    padding-top: 1.5%;
    z-index: 2;
}

.title {
    padding-top: 15%;
    text-align: center;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

.box {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:45vh;
    box-shadow: 0 0 10px rgba(33,33,33,.2); 
}

.box:hover {
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
  }

